:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
  .inactive{
    opacity:0;
    transform:scale(0.1);
    top:0;
    will-change: transform;
  }
  nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
    z-index: 2;
    background-color: var(--white);
    width: calc(100% - 40px);
    top:0;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: 0 5px;
  }
  .navbar-left ul li:hover a,
  .navbar-right ul li:hover a {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    transform: scale(1.2);

  }

  .navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    transition: all 0.3s ease;
  }
  .navbar-email:hover{
    color: var(--hospital-green);
  }
  .navbar-shopping-cart {
    position: relative;
  }
  .navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktop-menu {
    z-index: 1;
    position: absolute;
    background-color: var(--white);
    top: 60px;
    right:  60px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    transition:all 0.3s ease;
  }
  .desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .desktop-menu ul li {
    text-align: end;
    transition: all 0.3s ease;
  }
  .desktop-menu ul li:hover {
    color: var(--hospital-green);
  }
  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
  }
  .desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
  }
  .desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }
  .mobile-menu {
    background-color: var(--white);
    z-index: 1;
    left: 0;
    top: 60px;
    padding: 24px;
    position: absolute;
    border-radius: 6px;
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    transition: all 0.3s ease;
  }
  .mobile-menu li:hover a {
    color:var(--hospital-green)
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }
  /* logins */
  .login {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    height: 100vh;
    display:flex;
    justify-content: center;
  }
  
  .form-container {
    transition: all 0.3s ease;
    margin: auto 0;
    position: absolute;
    border-radius: 20px;
    padding: 24px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    background-color: var(--white);
    top: 100px;
  }
  
  .title {
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: start;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form div {
    display: flex;
    flex-direction: column;
  }
  .label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
  }
  .value {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
  }
  .secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .login-button {
    margin-top: 14px;
    margin-bottom: 30px;
  }
  @media (max-width: 640px) {
    .form-container {
      /* height: 100%; */
    }
    .form {
      height: 100%;
      justify-content: space-between;
    }
  }
  /* carrito de compras  */
  
  .product-detail {
    background-color: var(--white);
    z-index:1;
    width: 360px;
    padding: 0 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    transition:all 0.3s ease;
    border-radius: 20px;
    padding-bottom: 24px;
    
    
  }
  .title-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    transition: all 0.3s ease;
  }
  .primary-button:hover{
    transform: scale(1.1);
  }
 /* info product */
 .product-info-aside{
  
  z-index: 3;
  width: 360px;
  position:fixed;
  right: 0px;
  padding-bottom: 24px;
  background-color: var(--white);
  border-radius: 20px;
  transition: all 0.2s ease;
  }

 
 .product-info-aside .info-container{
  width: 100%;

 }

.product-info-aside .product-image{
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
  .product-info-aside .circle-close{
      position: absolute;
      top: 12px;
      left: 12px;
      transition:all 0.5s ease;
      
    }
    
    .product-info-aside .circle-close img{
      background-color: var(--white);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      padding: 4px;
    }
    .product-info-aside .circle-close:hover{
      transform: scale(1.5);
      cursor: pointer;
      
    }
  
  .product-info-aside .text-container{
      margin: 24px 24px 0 24px;
  }
  
 .product-info-aside .title {
  color: var(--black);
  font-size: var(--md);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 4px;

 }
 .product-info-aside .subtitle{
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
  color: var(--very-light-pink)

 }
 .product-info-aside .product-info-text{
  font-size: var(--sm);
  
   
  color:var(--very-light-pink);
  margin-top: 0;
  margin-bottom: 36px;
  
 }
 .product-info-aside .primary-button{
      background-color: var(--hospital-green);
      border-radius: 8px;
      border:none;
      color:var(--white);
      width: 100%;
      cursor:pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
  }

  .product-info-aside .add-to-cart-button{
      font-family: 'Quicksand', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      transition: all 0.4s ease;
  }
    
  .product-info-aside .add-to-cart-button:hover{
    transform: scale(1.1);
  }

  .product-info-aside .dot{
      cursor:pointer;
      height: 8px;
      width: 8px;
      background-color: var(--very-light-pink);
      border-radius: 50%;
      margin: 0px 2px 0 4px;
      display: inline-block;
  }
  .product-info-aside .dots span:nth-child(1){
      background-color: var(--hospital-green);
  }
  .product-info-aside .dots{
      text-align: center;
  }
  
  /* cards products container */
  .cards-container {
    margin-top: 60px;
    padding-top: 120px;
    padding:24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
  }
  .product-card {
    /* margin-top: 60px; */
    width: 240px;
  }
  .product-card>img:hover {
    transform: scale(1.1);
  }
  .product-card img {
    transition: all 0.3s ease;
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info figure:hover img {
    transform: scale(1.2);
    cursor:pointer
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
  }
 
@media (max-width: 640px) {
    .menu {
        display: block;
    }
    
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu{
        display: none;
    }
    .product-detail {
        width: 100%;
    }
    .cards-container {
      grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
      width: 140px;
    }
    .product-card img {
      width: 140px;
      height: 140px;
    }
    .product-info-aside{
      width: 100%;
  }
  .product-info-aside .product-image{
      width: 100%;
  }
  .mobile-menu{
    width: 100%;
  }
}
@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }
}